<h2>Edit <%resource_name.to_s.humanize %> Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
  <br>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: " New Password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm New Password" %>
  </div>

  <div class="field form-group">
  <br>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current Password" %>
  </div>

  <div class="actions">
  <br>
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },class: "btn btn-danger", method: :delete %></p>

<%= link_to "Back", :back, class: "btn btn-warning" %>
