<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :first_name, class: "form-control", placeholder: "first name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :last_name, class: "form-control", placeholder: "last name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :email, class: "form-control", placeholder: "email address" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :phone, class: "form-control", placeholder: "phone numebr" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :twitter, class: "form-control", placeholder: "twitter username" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :linkedin, class: "form-control", placeholder: "linkedin username" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :facebook, class: "form-control", placeholder: "facebook username" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>


















